@import url('./normalize.css');
@import url('./media-queries.css');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

:root {
  font-size: 16px; 
  font-family: 'Lora', serif;
}

h1  {
  font-size: 3rem;
  align-self: center;
  padding: 5rem 0;
  color: white;
  text-transform: uppercase;
}

body {
  display: flex;
  justify-content: center;
  background-color: #1a1819;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

li {
  padding: .5rem 0;
}
