@import url('./normalize.css');
@import url('./media-queries.css');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

:root {
  font-size: 16px; 
  font-family: 'Lora', serif;
  color: white;
  line-height: 24px;
}

h1  {
  font-size: 2rem;
  align-self: center;
  padding: 2rem 1rem;
  text-transform: uppercase;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a1819;
  flex-direction: column;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

li {
  padding: 1rem 1rem;
}

h2 {
  padding: 1rem 0;
}

footer {
  padding: 1rem;
}

.logo {
  border-radius: 50%;
}

p {
  max-width: 700px;
}
